* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../imagens/tra6.jpg");
    background-attachment: fixed;
    /*Fixa a imagem na tela, não rola junto com a barra de rolagem*/
    background-size: cover;

    font-size: 1rem;
    /*Tamanho padrão da fonte do dispositivo*/
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
header#topo {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 200px;
    text-align: center;

    /*display: table-cell; Para realizar o alinhamento, é necessário torna-lá em table-cell*/
    /*width - Só será aceito valores fixos, não é aceito porcentágem*/
    /*vertical-align: middle; Alinhamento vertical da célula*/

    line-height: 200px;
    /*Altera o tamanho da linha*/
}

header#topo h1 {
    font-size: 3.75rem;
    /*Equivale a 60px*/
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
/*Menu*/
nav {
    position: fixed;
    z-index: 100;
    top: 310px;
    left: 0;
    width: 200px;
}

ol {
    width: 200px;
}

nav li {
    border-bottom: 1px solid black;
    width: 20px;
    transition: width .5s;
}

nav li:hover {
    width: 100%;
}

nav li a {
    display: block;
    font-size: 0.875rem;
    /*14px*/
    height: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 20px;
    box-sizing: border-box;

}

nav a:link,
a:visited {
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
    border-left: rgb(255, 0, 0) 3px solid;

}

nav a:hover,
nav a:active {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    border-left-color: aqua;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
section {
    background-color: rgba(255, 255, 255, .5);
    /*Para alterar a opacidade de um produto, acrescente o "A" no final do "rbg" e acrescente a porcentagem no final*/

    width: 80%;
    height: auto;
    padding: 30px;
    margin: 20px auto;
    border-radius: 30px;
    font-size: 1.25rem;
    /*Para desktop, 1.25rem equivale a 20px*/
}

section h2 {
    font-size: 1.875rem;
    /*Equivale a 30px*/
    text-align: center;
    text-decoration: underline;

    padding: 30px;
}

section p {
    margin: .5rem;
    text-indent: 50px;
}

section p::first-letter {
    font-size: 2.5rem;
}

section p#p1::first-letter {
    color: red;
    font-size: 2.5rem;
    background-color: yellowgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img.esc {
    float: left;
    margin: 0 10px 10px;
}

img.dir {
    float: right;
    margin: 0 10px 10px;
}

footer {
    height: 100px;
    line-height: 100px;
    background-color: black;
    color: white;
    text-align: center;
}