div{
    background-color: antiquewhite;
    padding: 10px;
    border: 2px solid black ;
    margin: 40px;
}
body{
    background-image: url(ny007.jpg);
    background-attachment: fixed;
    background-size: cover;
}
