*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}    
nav li{
    list-style-type: none;
}
/******************************************************/
body{
    background-color: #CCC;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*******************************************************/
div#interface{
    
    background-color: bisque;
    width: 48%;
    margin:auto;
}
/**************************************************/
header#topo{
    width: 100%;
    height: 80px;
    background-image: url('../images/topo_.jpg');
}
/*************************************************/
nav#menu{
    background-color: #000;
    width:19.53%; /*25.5%*/
    height: 400px;
    float: left;
}
nav#menu a{
    border-left: 3px solid #F00;
    border-bottom: 1px solid #CCC;
    margin:1px;padding: 5px;
    display: block;

    font-size: .6rem;
    color:#FFF;
    text-decoration: none;
}   
nav#menu a:hover{
    border-left-color: #FFF;
    background-color: #CCC;
    color:#000;
    text-decoration: underline;
}
/********************************************************/
section{
    background-color: #FFF;
    width:80.46%;
    height:400px;
    float: right;
    position: relative;
}
/************************************************************/
section aside{
    background-color: #CCC;
    width:29.12%;
    position:absolute;
    top: 0;
    right: 0;
}
section aside a{
    border-width: 1px;
    border-style: solid;
    border-color: #FFF #333 #333 #333;
    display: block;
    padding: 10px;

    font-size: .8rem;
    color:#000;
    text-align: center;
    text-decoration: none;
}
section aside a:hover{
    text-decoration: underline;
}
/***************************************************/
footer{
    background-color: #600;
    color:#FFF;
    text-align: center;
    font-size: .6rem;
    /*line-height: 80px;*/
    height:80px;
    clear: both;
    padding: 0 305px;
    display: table-cell;/*inline block
    ela é inline porem aceita width e heigth em medidas fixas
    */
    vertical-align: middle;
}