/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

header h1 {
    font-size: 2.5em;
}

main {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

#formulario-tarefa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#nova-tarefa {
    flex: 1;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#adicionar-tarefa {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#adicionar-tarefa:hover {
    background-color: #555;
}

#lista-tarefas ul {
    list-style-type: none;
    padding: 0;
}

#lista-tarefas li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tarefa-concluida {
    text-decoration: line-through;
    color: #888;
}

.remover-tarefa {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remover-tarefa:hover {
    background-color: darkred;
}