#exemplo{
    text-align: justify;
    text-decoration: none;
    text-indent: 50px;
    color: blue;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}